@media (max-width: 576px) {
  .all3{
    display: flex;
    flex-direction: column;
    gap: 10%;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;
  
  }
  .bedroom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 2%;
    box-sizing: border-box;
  }
  .images3{
    margin-top: 3%;
  }
  .txu3{
    font-size:small;
    margin: 1.5%;
    color:#383633;
    font-family: 'Charmonman', cursive;
  }
  .tx3{
    font-size:x-small;
    max-width: 50%;
    margin: 1.5%;
    color:#383633;
    background-color: transparent;
    font-family: 'Charmonman', cursive;
  }
}
@media (min-width: 576px) {
  .all3{
    display: flex;
    flex-direction: column;
    gap: 10%;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;
  
  }
  .bedroom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 2%;
    box-sizing: border-box;
  }
  .images3{
    margin-top: 3%;
  }
  .txu3{
    font-size: large;
    margin: 1.5%;
    color:#383633;
    font-family: 'Charmonman', cursive;
  }
  .tx3{
    font-size: small;
    max-width: 50%;
    margin: 1.5%;
    color:#383633;
    background-color: transparent;
    font-family: 'Charmonman', cursive;
  }
}
@media (min-width: 768px) {
  .all3{
    display: flex;
    flex-direction: column;
    gap: 10%;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;
  
  }
  .bedroom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 2%;
    box-sizing: border-box;
  }
  .images3{
    margin-top: 3%;
  }
  .txu3{
    font-size:x-large;
    margin: 1.5%;
    color:#383633;
    font-family: 'Charmonman', cursive;
  }
  .tx3{
    font-size: medium;
    max-width: 50%;
    margin: 1.5%;
    color:#383633;
    background-color: transparent;
    font-family: 'Charmonman', cursive;
  }
}
@media (min-width: 992px) {
  .all3{
    display: flex;
    flex-direction: column;
    gap: 10%;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;
  
  }
  .bedroom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 2%;
    box-sizing: border-box;
  }
  .images3{
    margin-top: 3%;
  }
  .txu3{
    font-size: x-large;
    margin: 1.5%;
    color:#383633;
    font-family: 'Charmonman', cursive;
  }
  .tx3{
    font-size: medium;
    max-width: 50%;
    margin: 1.5%;
    color:#383633;
    background-color: transparent;
    font-family: 'Charmonman', cursive;
  }
}
@media (min-width: 1200px) {
  .all3{
    display: flex;
    flex-direction: column;
    gap: 10%;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;
  
  }
  .bedroom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 2%;
    box-sizing: border-box;
  }
  .images3{
    margin-top: 3%;
  }
  .txu3{
    font-size: xx-large;
    margin: 1.5%;
    color:#383633;
    font-family: 'Charmonman', cursive;
  }
  .tx3{
    font-size: large;
    max-width: 50%;
    margin: 1.5%;
    color:#383633;
    background-color: transparent;
    font-family: 'Charmonman', cursive;
  }
}